<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>

    
<body>
    <h1>Pagina de inicio de inventario de Mucabat</h1>
    <% if (login) { %>
        <h1>El usuario conectado es: <strong><%= nombre %></strong></h1>
        <a href="logout" class="a-logout">Cerrar Sección</a>

    <% } else { %>

        <h1><strong><%= nombre %></strong></h1>
        <a href="login" class="a-logout">Iniciar Sección</a>

    <% } %>
    
</body>
</html>